* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}
body {
  background-color: #e4e4e4;
}

/* dashbord css */
.dashboard {
  display: flex;
  justify-content: space-around;
  margin: 40px 0;
}

.card {
  width: 400px;
  height: 250px;
  border-radius: 20px;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  cursor: pointer;
}

.card p {
  margin-top: 10px;
  margin-bottom: 10px;
  font-size: 16px;
}

.card h2 {
  font-size: 50px;
}

.green {
  background-color: #005b4e;
}

.blue {
  background-color: #02224c;
}

.red {
  background-color: #c30000;
}

.recent-activity {
  background-color: white;
  padding: 20px;
  margin: 100px auto;
  width: 80%;
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.recent-activity h3 {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
  font-size: 18px;
  align-items: center;
}

.activity-item {
  display: grid;
  grid-template-columns: 2fr 5fr;
  justify-content: space-between;
  background-color: #e0e0e0;
  padding: 10px;
  border-radius: 5px;
  margin-bottom: 10px;
}

.activity-item .time {
  font-size: 14px;
  font-weight: bold;
}

.activity-item .details {
  font-size: 14px;
}
