:root {
    --color-dark-blue: #001F4D;
    --color-dark-green: rgb(0, 80, 67);
    --color-bright-blue: rgb(3, 39, 93);
    --color-dark-gray: rgb(30, 30, 30);
    --color-light-gray: #B0BEC5;
    --color-dark-red: rgb(183, 28, 28);
    --color-white: #FFFFFF;
}

body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #F5F7FA;
    display: flex;
    flex: 1;
}

.fullpage{
    display: flex;
    flex-direction: row;
    /* flex: 1; */
}



.main-content {
    margin: 30px 30px 30px 130px;
    position: relative;
    top: 89.6px;
    flex: 12;
    padding: 10px;
    /* Adjusts based on sidebar width */
    min-height: calc(100vh - 89.6px);
    overflow-y: auto; /* Enables vertical scrolling */
    background-color: #dbe2f4;
    /* transition: margin-left 0.3s, width 0.3s; */
    transition: width 0.3s ease;
    /* flex-grow: 1; */
  }
  

  

.search-container {
    margin: 20px 0;
}

.search-bar {
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #B0BEC5;
    width: 100%;
    max-width: 500px;
    margin-bottom: 20px;
}

.structure {
    display: flex;
    flex-direction: column;
}

.search{
    padding: 7px 10px;
    border: none;
    position: relative;
    left: -45px;
    background-color: transparent;
}

.top {
    display: flex;
    justify-content: center;
    /* background: linear-gradient(to right, #6393d742, #162c5c41);  */

}

.middle {
    display: flex;
    flex-wrap: wrap;
    padding: 20px;
    display: flex;
    justify-content: space-around;
    text-align: center;
    gap: 20px;
    margin-bottom: 50px;
    margin-top: 50px;
}

.bottom {
    display: flex;
    justify-content: center;
    width: 100%;
}

.cards {
    display: flex;
    gap: 20px;
    /* flex-wrap: wrap; */
    justify-content: center;
    /* padding: 10px; */
    border: 2px solid #cfd1d6;
    /* border-bottom: 2px inset rgb(255, 255, 255); */
    border-radius: 30px;
    width: 70%;
    min-width: 700px;
    /* background-color: #00000025; */
     /* From left to right */

    padding: 20px;
}

.card {
    /* flex-grow: 1; */
    padding: 20px;
    border-radius: 30px;
    text-align: center;
    width: 30%;
    min-width: 200px;
    max-width: 250px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    color: white;

    
}

.card p{
    margin-bottom: 30px;
}

.card h4{
    margin-bottom: 20px;
}

.card a{
    display: flex;
    justify-content: flex-start;
    /* text-decoration: none; */
    position: relative;
    left: 0px;
    bottom: 0px;
    color:  #B0BEC5;
}

.card a:hover{
    color:#7a848a;
}

.card-icon {
    height: 50px;
    border-radius: 50%;
    margin-bottom: 15px;
}

.black-card {
    background-color: var(--color-dark-gray);
}

.green-card {
    background-color: var(--color-dark-green);
}

.blue-card {
    background-color: var(--color-bright-blue);
}

.cards .card .green-card .p{
    position: relative;
    top: -10;
}

.resolve {
    /* position: relative;
    top: -20px;
    right: -35px; */
    display: flex;
    justify-content: center;
    width: 130px;
    background-color: transparent;
    padding: 5px;
    border-radius: 5px;
}

.total-sales{
    
    flex: 1;
    background-color: white;
    border-radius: 4px;
    padding: 40px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    width: 600px; /* or a specific value, like 600px */
    height: 400px;
}

.inventory{
   
    flex: 1;
    max-width: 300px;
    background-color: white;
    border-radius: 4px;
    padding: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}

.weekly{
    display: flex;
    justify-content: space-around;
    margin-bottom: 30px;
}

.recent-payment{
    width: 100%;
}

/* Table styles */
table {
    /* width: 100%;
    border-collapse: collapse;
    margin-top: 20px; */

    width: 100%;
    /* border-collapse: collapse; */
    margin-top: 20px;
    /* border: 1px solid black; */
    background-color: #ffffff;
    height: 100px;
    overflow: scroll;
    scrollbar-width: thin;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    
    
}

th, td {
    padding: 10px;
    text-align: center;
    width: 200px;
    font-size: 14px;
    overflow: scroll;
    scrollbar-width: none;
}

th {
    background-color: var(--color-dark-blue);
    color: var(--color-white);
}

th:first-child {
    border-radius: 0 0 0 0; /* Top-left corner */
  }
  
  th:last-child {
    border-radius: 0 0 0 0; /* Top-right corner */
  }

tr:nth-child(even) {
    background-color: #f9f9f9;
}

tr:nth-child(odd) {
    background-color: #e2e5e8;
}
