.content {    
    display: flex;
    align-items: center;
    justify-content: center; 
    padding: 0px;
    background-image: url("http://localhost/remed-1.0/public/assets/images/background.jpg" );
    background-size: contain 80%;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position:60% 10%;
    color: white;
    width: 100%;
    height: calc(100vh - 90.6px);
    position: absolute;
    top: 89.6px;
}

.background{
    width: 100%;
    height: 100%;
    padding-left: 100px;
    background-image: linear-gradient(to right,#001f4de1 30%,transparent 100% );
}

.text-section {
    width: 60%;
    border-radius: 8px;
    font-family:'Roboto', sans-serif;
    padding-top: 100px;
    
}

.text-section p {
    margin-bottom: 30px;
}

.primary-button, .secondary-button {
    width: 250px;
    height: 62px;
    padding: 15px;
    border: none;
    border-radius: 15px;
    font-size: 16px;
    margin-top: 10px;
    cursor: pointer;
    box-shadow: 0 4px 6px rgba(1, 1, 1, 0.374);
}

.primary-button {
    background-color: #FFD700;
    color: #001F4D;
    font-weight: bold;
}

.secondary-button {
    background-color: #FFFFFF;
    color: #001F4D;
    font-weight: bold;
}

.primary-button:hover {
    background-color:#daba03;
}

.secondary-button:hover {
    background-color: #cacaca;
}


 @media (max-width: 2000px) {
    .text-section p {
        font-size:1.5rem;
    }

    .text-section{
        width: 400px;
    }

}

@media (max-width: 1024px) {
    .text-section p {
        font-size:1.2rem;
        padding-bottom: 20px;
    }

    .text-section {
        width: 40%;
    }

    .background{
        background-image: linear-gradient(to right,#001f4de6 30%,transparent 100% );
        padding-left: 40px;
    }
}


@media (max-width: 738px) {
    .text-section p {
        font-size:1.2rem;
    }

    .text-section {
        width: 50%;
    }


    content{
        background-image: linear-gradient(to right,#001f4de2 100%,transparent 100% );
    }
} 

