* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #B0BEC5;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: calc(100vh - 89.6px);
    flex-direction: column;
    
}

.fullpage{
    position: absolute;
    top: 89.6px;
    width: 100vw;
    height: calc(100vh - 89.6px);
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    background-color: #ECEFF1;
    width: 60%;
    height: 82%;
    border-radius: 8px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
    display: flex;
    overflow: hidden;
    
}

.box-left {
    background-color: #001F4D;
    color: #ffffff;
    padding: 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex: 2;
    text-align: center;
}

.box-left h2 {
    font-size: 24px;
    margin-bottom: 20px;
}

.box-left p {
    font-size: 16px;
    line-height: 1.5;
}

.box-right {
    padding: 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex: 1;
}

.box-right h2 {
    font-size: 24px;
    margin-bottom: 20px;
}

.box-right label {
    font-size: 14px;
    margin-top: 10px;
}

.box-right input[type="email"],
.box-right input[type="password"] {
    width: 100%;
    padding: 10px 10px 20px 10px;
    margin-top: 5px;
    margin-bottom: 10px;
    border-radius: 4px;
    border: 1px solid #ccc;
}

.form-footer {
    display: flex;
    align-items: center;
    
}

.form-footer input[type="checkbox"] {
    margin-right: 10px;
    margin-top: 10px;
    
}

.register-btn {
    background-color: #00796B;
    color: #ffffff;
    padding: 10px;
    border: none;
    border-radius: 4px;
    width: 100%;
    cursor: pointer;
    margin-top: 20px;
}

.register-btn:hover {
    background-color: #004D40;
}

.forgot-password {
    display: block;
    text-align: center;
    margin-top: 10px;
    font-size: 12px;
    color: #666;
    text-decoration: none;
}

.forgot-password:hover {
    color: #333;
}

.error-message {
    color: red;
    font-size: 14px;
    margin-bottom: 10px;
    text-align: center;
}

@media (min-width:577px) and (max-width:768px) {

    .container {
        width: 80%;
        min-height: 70%;
        flex-direction: row;
    }

    .box-left {
        flex: 1;
    }

   .box-right {
        flex: 1;
    }

    input[type="text"],
    input[type="email"],
    input[type="password"],
    input[type="file"] {
        width: 200px;
        padding: 10px;
        
    }

    .register-btn {
        /* flex-direction: column; */
        width: 180px;
        
    }

}

@media (max-width: 576px) {

    .container {
        width: 80%;
        min-height: 70%;
        flex-direction: column;
    }

    .box-left{
        display: none;
        flex: 1;
    }

    .box-right{
        flex: 1;
    }

   

    .register-btn {
        flex-direction: column;
        width: 100%;
        
    }

}


