:root {
  --color-dark-blue: #001F4D;
  --color-dark-green: rgb(0, 80, 67);
  --color-bright-blue: rgb(3, 39, 93);
  --color-dark-gray: rgb(30, 30, 30);
  --color-light-gray: #B0BEC5;
  --color-dark-red: rgb(183, 28, 28);
  --color-white: #FFFFFF;
}

body {
  margin: 0;
  font-family: Arial, sans-serif;
  background-color: #F5F7FA;
  display: flex;
  flex: 1;
}

.fullpage{
  display: flex;
  flex-direction: row;
  /* flex: 1; */
}



.main-content {
  margin: 30px 30px 30px 130px;
  position: relative;
  top: 89.6px;
  flex: 12;
  padding: 10px;
  /* Adjusts based on sidebar width */
  min-height: calc(100% - 89.6px);
  overflow-y: auto; /* Enables vertical scrolling */
  background-color: #dbe2f4;
  /* transition: margin-left 0.3s, width 0.3s; */
  transition: width 0.3s ease;
  /* flex-grow: 1; */
}


.structure {
  display: flex;
  flex-direction: column;
}



.tabs {
  padding: 10px;
  display: flex;
  justify-content: flex-start;
  gap: 10px;
  margin-bottom: 15px;
  margin-top: 10px;
}

.tab-button {
  padding: 10px 20px;
  border: none;
  background-color: #f0f0f0;
  cursor: pointer;
  font-size: 16px;
  border-radius: 5px;
}

.tab-button.active {
  background-color: #000000;
  color: white;
}

.tab-content {
  display: none;
}

.tab-content.active {
  display: block;
}


































































