* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 2rem;
    background-image: radial-gradient(  #001f4d, rgb(3, 39, 93)), url(http://localhost/remed-1.0/public/assets/images/inventory5.png);
    width: 100%;
    position: fixed;
    z-index: 100000;
}

.navbar-left {
    display: flex;
    flex: 1;
}

.navbar-right {
    display: flex;
    justify-content: space-between;
    flex: 15;
    align-items: center;
}

.logo {
    color: #fff;
    font-size: 1.5rem;
    text-decoration: none;
    font-family: 'Rock Salt', cursive;
}

.nav-links {
    display: flex;
    list-style: none;
    align-items: center;
}

.nav-links img {
    width: 50px;
    margin: 0px 15px;
}

.image img{
    border-radius: 50%;
    height: 30px;
    width: 30px;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.nav-links li {
    margin-left: 1.5rem;
    padding: 0.75rem;
    border: 1px solid white;
    border-radius: 10px;
}

.nav-links li:hover {
    border: 1px solid rgb(222, 215, 194);
}

.nav-links a {
    color: #fff;
    text-decoration: none;
    font-size: 0.8rem;
    transition: color 0.3s ease;
}

.nav-links a:hover {
    color: rgb(222, 215, 194);
}

.profile-name{
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Basic popup styles */
.notification-popup {
    display: none; /* Initially hidden */
    position: fixed;
    top: 10%;
    right: 10%;
    background-color: rgba(0, 0, 0, 0.7);
    color: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    z-index: 9999;
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
}

/* Animation for showing and hiding the popup */
.notification-popup.show {
    display: block;
    opacity: 1;
}

.popup-content {
    font-size: 16px;
}

.name{
    font-size: 24px; /* Font size for the pharmacy name */
  font-weight: bold; /* Make the name bold */
  color: #fff; /* White color for text */
  letter-spacing: 2px; /* Spacing between letters */
  text-transform: uppercase; /* Capitalize all letters */
  cursor: pointer; /* Add pointer cursor when hovering */
  transition: color 0.3s ease;
}