.filter {
  font-size: 1rem;
}

.filter label {
  font-weight: bold;
  margin-right: 10px;
}

.filter select {
  padding: 5px 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 1rem;
}


section.table-management {
  background: #fff;
  margin: 20px;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  height: 400px;
  width: 85vw;
  overflow-x: scroll;
  scrollbar-width: none;
}

/* Table Styles */
.table {
  width: 100%;
  border-collapse: collapse;
}

.table thead tr {
  background-color: #001F4D;
  color: #fff;
}

.table th,
.table td {
  text-align: left;
  padding: 12px;
  border-bottom: 1px solid #ddd;
}

.table tbody tr:nth-child(even) {
  background-color: #f4f4f4;
}

.table tbody tr:hover {
  background-color: #e9f5ff;
}

.status {
  padding: 5px 10px;
  border-radius: 5px;
  font-weight: bold;
  text-transform: capitalize;
}

/* Status Colors */
.status.success {
  background-color: #d4edda;
  color: #155724;
}

.status.pending {
  background-color: #fff3cd;
  color: #856404;
}

.status.canceled {
  background-color: #f8d7da;
  color: #721c24;
}

/* Links */
a.view {
  color: #0056b3;
  text-decoration: none;
  font-weight: bold;
}

a.view:hover {
  text-decoration: underline;
}