/* General Styles */
body {
    font-family: 'Arial', sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
}



/* Table Styles */
.pharmacy-table {
    position: absolute;
    left:180px;
    top: 180px;
    width: 80%;
    margin: 20px auto;
    border-collapse: collapse;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.15);
}

.pharmacy-table thead {
    background-color: #002b5c;
    color: white;
}

.pharmacy-table th, .pharmacy-table td {
    padding: 15px;
    text-align: left;
    font-size: 14px;
    border-bottom: 1px solid #ddd;
}

.pharmacy-table tbody tr:nth-child(even) {
    background-color: #f9f9f9;
}

.pharmacy-table tbody tr:hover {
    background-color: #f1f1f1;
}

/* Status and Onboard badges */
.status {
    padding: 5px 10px;
    border-radius: 15px;
    color: white;
    display: inline-block;
}

.status.pending {
    background-color: #f44336;
}

.onboard {
    background-color: #2196f3;
    color: white;
    padding: 5px 10px;
    border-radius: 15px;
    margin-left: 10px;
    cursor: pointer;
}






/* Style for the search container */
.search-container {
    display: flex;
    position: absolute;
    top: 80px;
    left: 180px;
    align-items: center;
    margin-top: 50px;
}
.search-container img{
    position: absolute;
    right: 10px;
    width: 20px;
    height: 20px;
}
/* Style for the search input */
.search-box {
    width: 300px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 20px;
    font-size: 16px;
}

/* Style for the search button */
.search-button {
    padding: 10px;
    margin-left: 5px;
    background-color: #28a745;
    border: none;
    border-radius: 5px;
    color: white;
    cursor: pointer;
    font-size: 16px;
}

/* Hover effect for the button */
.search-button:hover {
    background-color: #218838;
}

.action{
  padding-left: 10px;
  width: 20px;
  height: auto;
}